@charset "UTF-8";
/* 
    Created on : Jul 21, 2016, 2:44:39 PM
    Author     : ahextech
*/
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

/* Color Variables */
/* Font Family Variables */
/* 
    Created on : Sep 2, 2016, 3:59:32 PM
    Author     : ahextech
*/
/* Font Families Starts Here */
@font-face {
  font-family: 'opensans-semibold';
  src: url("../fonts/opensans-semibold/opensans-semibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/opensans-semibold/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans-semibold/opensans-semibold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/open-sans/open-sans.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/open-sans/open-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans.woff") format("woff"), url("../fonts/open-sans/open-sans.ttf") format("truetype"), url("../fonts/open-sans/open-sans.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'roboto-bold';
  src: url("../fonts/roboto-bold/roboto-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto-bold/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold/roboto-bold.ttf") format("truetype"), url("../fonts/roboto-bold/roboto-bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'roboto-italic';
  src: url("../fonts/roboto-italic/roboto-italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto-italic/roboto-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic/roboto-italic.woff") format("woff"), url("../fonts/roboto-italic/roboto-italic.ttf") format("truetype"), url("../fonts/roboto-italic/roboto-italic.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular/roboto-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular/roboto-regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

/* Font Families Ends Here */
/* Common Styles Starts Here */
*:focus {
  outline: none !important; }

body {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: none; }

/* Common Styles Ends Here */
/* Styles for index page starts here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.visible-xs {
  display: none; }

.hidden-xs {
  display: block; }

/* Common Styles Starts Here */
.testimonial-text {
  margin: 0;
  font-size: 30px;
  font-family: "roboto-italic"; }

.open-quotes, .close-quotes {
  color: #5b5b76;
  position: absolute;
  font-family: "roboto-bold"; }

/* Common Styles Ends Here */
.head-container {
  height: 620px;
  position: relative;
  background: transparent url("../images/banner.jpg") no-repeat scroll 0 0/cover;
  background-position: 80% center; }
  .head-container .springboard-nav {
    width: 85%;
    margin: 0 auto;
    display: block;
    max-width: 1920px;
    min-height: 60px; }
    .head-container .springboard-nav .logo-container {
      display: inline-block;
      margin-top: 5px; }
    .head-container .springboard-nav .navbar-options-wrapper {
      float: right;
      display: inline-block; }
      .head-container .springboard-nav .navbar-options-wrapper .navbar-toggle {
        display: none; }
      .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list {
        list-style: none; }
        .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li {
          display: inline-block; }
          .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu {
            position: relative; }
            .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu .sub-menu {
              display: block;
              padding: 5px 10px;
              margin-right: 0;
              z-index: 9; }
              .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu .sub-menu li {
                padding: 6px 0 6px 10px; }
                .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu .sub-menu li a {
                  color: #fff;
                  display: block;
                  font-size: 16px;
                  font-family: "open-sans"; }
                  .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu .sub-menu li a:hover {
                    color: #efff1d; }
            .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu:hover .sub-menu {
              display: block; }
          .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li:hover {
            background-color: #3a3a4f; }
          .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li .navbar-options {
            color: #fff;
            display: inline-block;
            padding: 15px;
            font-size: 16px;
            font-family: "opensans-semibold"; }
            .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li .navbar-options i {
              margin-left: 5px; }
          .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li .sub-menu {
            display: none;
            position: absolute;
            left: 0;
            width: 250px;
            background-color: #3a3a4f; }
            .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li .sub-menu li {
              display: block;
              margin-right: 0; }
              .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li .sub-menu li a {
                color: #fefefe; }
  .head-container .banner-content {
    width: 85%;
    margin: 0 auto;
    display: block; }
    .head-container .banner-content .main-head {
      color: #fff;
      font-size: 62px;
      margin-top: 150px;
      font-family: "opensans-semibold";
      margin-bottom: 20px; }
    .head-container .banner-content .sub-head {
      color: #fff;
      font-size: 28px;
      margin-top: -10px;
      font-family: "roboto-regular"; }
    .head-container .banner-content .details-wrapper {
      width: 50%;
      position: relative;
      margin-top: 40px; }
      .head-container .banner-content .details-wrapper:before {
        top: -15px;
        left: 0;
        width: 50px;
        border: 1px solid #efff1d;
        height: 0;
        content: "";
        position: absolute;
        background-color: #efff1d; }
      .head-container .banner-content .details-wrapper .row:first-of-type .second-col, .head-container .banner-content .details-wrapper .row:last-of-type .second-col {
        color: #fff; }
      .head-container .banner-content .details-wrapper .row:nth-of-type(2) .second-col {
        color: #efff1d; }
      .head-container .banner-content .details-wrapper .row .first-col {
        color: #efeff6;
        width: 30%;
        display: inline-block;
        font-size: 18px;
        font-family: "roboto-italic"; }
      .head-container .banner-content .details-wrapper .row .second-col {
        display: inline-block;
        font-size: 18px;
        font-family: "roboto-regular"; }
  .head-container .chevron-down-icon {
    left: 50%;
    color: #fff;
    bottom: 10px;
    position: absolute;
    font-size: 25px; }

.testimonial-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #efeff6; }
  .testimonial-container .testimonial-wrapper {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 0 35px;
    position: relative; }
    .testimonial-container .testimonial-wrapper .testimonial-text {
      color: #0b0b09; }
    .testimonial-container .testimonial-wrapper .open-quotes, .testimonial-container .testimonial-wrapper .close-quotes {
      font-size: 72px;
      line-height: 65px; }
    .testimonial-container .testimonial-wrapper .open-quotes {
      top: 0;
      left: 0; }

.about-me-container {
  padding-top: 50px;
  padding-bottom: 50px; }
  .about-me-container .about-me-content-wrapper {
    width: 85%;
    margin: 0 auto;
    display: block; }
    .about-me-container .about-me-content-wrapper .content-section {
      width: 65%;
      display: inline-block; }
      .about-me-container .about-me-content-wrapper .content-section:first-of-type p:first-of-type {
        margin: 0; }
      .about-me-container .about-me-content-wrapper .content-section:first-of-type p:nth-of-type(3), .about-me-container .about-me-content-wrapper .content-section:first-of-type p:last-of-type {
        margin-top: 40px; }
      .about-me-container .about-me-content-wrapper .content-section p {
        color: #54545a;
        font-size: 16px;
        text-align: justify;
        font-family: "open-sans";
        padding-right: 20px; }
      .about-me-container .about-me-content-wrapper .content-section h3 {
        color: #48484e;
        margin: 25px auto;
        font-size: 24px;
        font-family: "roboto-regular"; }
    .about-me-container .about-me-content-wrapper .image-section {
      width: 35%;
      float: right;
      display: inline-block;
      position: relative; }
      .about-me-container .about-me-content-wrapper .image-section .sara-img {
        float: right; }
        .about-me-container .about-me-content-wrapper .image-section .sara-img:last-of-type {
          margin-top: 40px; }
      .about-me-container .about-me-content-wrapper .image-section .quote-text {
        padding: 25px 0 25px 25px; }
        .about-me-container .about-me-content-wrapper .image-section .quote-text .testimonial-text {
          color: #48485e; }
        .about-me-container .about-me-content-wrapper .image-section .quote-text .open-quotes, .about-me-container .about-me-content-wrapper .image-section .quote-text .close-quotes {
          color: #5b5b76;
          font-size: 52px; }
        .about-me-container .about-me-content-wrapper .image-section .quote-text .open-quotes {
          top: 15px;
          left: 0; }
    .about-me-container .about-me-content-wrapper .office-img-wrapper {
      width: 100%;
      margin: 40px 0; }
      .about-me-container .about-me-content-wrapper .office-img-wrapper .office-img {
        width: 100%; }
    .about-me-container .about-me-content-wrapper .view-stories {
      color: #55ccb1;
      display: block;
      font-size: 16px;
      margin-top: 15px;
      font-family: "roboto-italic"; }

.bottom-container {
  padding: 35px 0;
  background-color: #2abf9e; }
  .bottom-container .bottom-wrapper {
    width: 85%;
    margin: 0 auto;
    display: block; }
    .bottom-container .bottom-wrapper .bottom-text {
      color: #fff;
      margin: 5px 0;
      font-size: 30px;
      font-family: "roboto-bold"; }

.footer {
  height: auto;
  padding: 40px 0;
  background-color: #48485e; }
  .footer .footer-wrapper {
    width: 90%;
    margin: 0 auto;
    display: block; }
    .footer .footer-wrapper .footer-option-list {
      height: 190px;
      margin: 0;
      padding-left: 0; }
    .footer .footer-wrapper .footer-option-list > li {
      color: #00c09d;
      float: left;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      font-family: "open-sans"; }
      .footer .footer-wrapper .footer-option-list > li:first-of-type {
        width: 40%; }
        .footer .footer-wrapper .footer-option-list > li:first-of-type .footer-main-text {
          color: #fff;
          font-size: 35px;
          margin-top: 0;
          font-family: "roboto-bold";
          margin-bottom: 10px; }
        .footer .footer-wrapper .footer-option-list > li:first-of-type .footer-sub-text {
          color: #fff;
          font-size: 20px;
          font-family: "open-sans"; }
        .footer .footer-wrapper .footer-option-list > li:first-of-type .update-form {
          margin-top: 30px; }
          .footer .footer-wrapper .footer-option-list > li:first-of-type .update-form .form-elements input {
            color: #bbbbd5;
            border: 1px solid #3b3b4e;
            padding: 0 20px;
            font-size: 14px;
            min-height: 40px;
            box-sizing: border-box;
            background-color: #3b3b4e;
            border-radius: 6px;
            -o-border-radius: 6px;
            -ms-border-radius: 6px;
            /* IE10 is actually unprefixed */
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px; }
          .footer .footer-wrapper .footer-option-list > li:first-of-type .update-form .form-elements .btn-update {
            color: #48485e;
            border: 1px solid #efff1d;
            padding: 7px 12px 6px;
            font-size: 15px;
            box-sizing: border-box;
            min-height: 40px;
            font-family: roboto-bold;
            margin-left: -10px;
            background-color: #efff1d;
            border-radius: 6px;
            -o-border-radius: 6px;
            -ms-border-radius: 6px;
            /* IE10 is actually unprefixed */
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px; }
      .footer .footer-wrapper .footer-option-list > li:not(:first-of-type) {
        width: 20%; }
        .footer .footer-wrapper .footer-option-list > li:not(:first-of-type) .footer-categories {
          margin-top: 20px; }
          .footer .footer-wrapper .footer-option-list > li:not(:first-of-type) .footer-categories li a {
            color: #fff;
            font-size: 14px;
            font-family: "open-sans";
            font-weight: normal; }
      .footer .footer-wrapper .footer-option-list > li .footer-categories {
        list-style: none;
        padding-left: 0; }

.footer-social-icon-container {
  padding: 20px 0;
  background-color: #3b3b4e; }
  .footer-social-icon-container .footer-social-icon-wrapper {
    clear: both;
    width: 90%;
    margin: 0 auto;
    display: table; }
    .footer-social-icon-container .footer-social-icon-wrapper .copyright-text.hidden-xs {
      color: #fff;
      float: left;
      width: 50%;
      display: inline-block;
      font-size: 12px;
      margin-top: 8px;
      font-family: "open-sans"; }
      .footer-social-icon-container .footer-social-icon-wrapper .copyright-text.hidden-xs .copyright-link {
        color: #fff; }
        .footer-social-icon-container .footer-social-icon-wrapper .copyright-text.hidden-xs .copyright-link:hover {
          color: #efff1d;
          text-decoration: underline; }
    .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list {
      width: 50%;
      float: left;
      margin: 0;
      display: block;
      list-style: outside none none;
      text-align: right; }
      .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li {
        display: inline-block; }
        .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li:not(:last-of-type) {
          margin-right: 5px; }
        .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li a {
          color: #fff;
          width: 30px;
          height: 30px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          /* IE10 is actually unprefixed */
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%; }
          .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li a.fa-facebook {
            /*padding         : 10px 13px 15px 12px;*/
            background-color: #3a589b; }
          .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li a.fa-twitter {
            /*padding         : 10px 13px 15px 11px;*/
            background-color: #598dca; }
          .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li a.fa-google-plus {
            /*padding         : 11px 16px 15px 9px;*/
            background-color: #e3411f; }
          .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li a.fa-youtube {
            /*padding         : 11px 14px 15px 11px;*/
            background-color: #cf3427; }
          .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list li a.fa-linkedin {
            /*padding         : 10px 15px 16px 10px;*/
            background-color: #007ab9; }

/* Media Queries Starts Here */
@media (min-width: 1200px) {
  .about-me-container .about-me-content-wrapper .image-section .sara-img {
    width: 100%;
    max-width: 380px;
    max-height: 225px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .head-container {
    height: 550px; }
    .head-container .banner-content .main-head {
      margin-top: 80px;
      margin-bottom: 0; }
  .testimonial-container .testimonial-wrapper .testimonial-text {
    font-size: 27px; }
  .about-me-container .about-me-content-wrapper .content-section:first-of-type p:nth-of-type(3), .about-me-container .about-me-content-wrapper .content-section:first-of-type p:last-of-type {
    margin-top: 10px; }
  .about-me-container .about-me-content-wrapper .content-section h3 {
    margin: 10px auto;
    font-size: 20px; }
  .about-me-container .about-me-content-wrapper .content-section p {
    font-size: 15px; }
  .about-me-container .about-me-content-wrapper .image-section:last-of-type .sara-img {
    margin-top: 20px; }
  .about-me-container .about-me-content-wrapper .image-section .sara-img {
    width: 100%;
    max-width: 300px; }
    .about-me-container .about-me-content-wrapper .image-section .sara-img:last-of-type {
      margin-top: 20px; }
  .about-me-container .about-me-content-wrapper .image-section .quote-text {
    padding: 15px 0 25px 25px; }
    .about-me-container .about-me-content-wrapper .image-section .quote-text .open-quotes, .about-me-container .about-me-content-wrapper .image-section .quote-text .close-quotes {
      line-height: 55px; }
    .about-me-container .about-me-content-wrapper .image-section .quote-text .open-quotes {
      top: 10px; }
    .about-me-container .about-me-content-wrapper .image-section .quote-text .testimonial-text {
      font-size: 27px; }
  .about-me-container .about-me-content-wrapper .office-img-wrapper {
    margin: 20px 0 10px; }
  .footer .footer-wrapper .footer-option-list > li:first-of-type .footer-sub-text {
    font-size: 18px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .head-container {
    height: 450px;
    padding: 0 10px;
    background-position: 80% center; }
    .head-container .springboard-nav {
      width: auto;
      display: block;
      margin: 0 auto;
      max-width: 850px; }
      .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list {
        margin-top: 0; }
        .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li:not(:last-of-type) {
          margin-right: 0; }
    .head-container .banner-content {
      width: auto;
      max-width: 850px; }
      .head-container .banner-content .main-head {
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 10px; }
      .head-container .banner-content .sub-head {
        font-size: 22px;
        margin-top: 0; }
      .head-container .banner-content .details-wrapper {
        width: auto; }
        .head-container .banner-content .details-wrapper .row .first-col {
          width: 25%; }
  .testimonial-container {
    padding: 40px 10px; }
    .testimonial-container .testimonial-wrapper {
      width: auto;
      padding: 0 20px;
      max-width: 850px; }
      .testimonial-container .testimonial-wrapper .open-quotes, .testimonial-container .testimonial-wrapper .close-quotes {
        font-size: 55px;
        line-height: 45px; }
      .testimonial-container .testimonial-wrapper .testimonial-text {
        font-size: 23px; }
  .about-me-container {
    padding: 40px 10px; }
    .about-me-container .about-me-content-wrapper {
      width: auto;
      max-width: 850px; }
      .about-me-container .about-me-content-wrapper .content-section {
        display: block;
        width: 100%; }
        .about-me-container .about-me-content-wrapper .content-section:first-of-type h3 {
          margin: 10px 0; }
        .about-me-container .about-me-content-wrapper .content-section:first-of-type p:nth-of-type(3), .about-me-container .about-me-content-wrapper .content-section:first-of-type p:last-of-type {
          margin-top: 10px; }
        .about-me-container .about-me-content-wrapper .content-section h3 {
          margin: 0 auto 10px; }
      .about-me-container .about-me-content-wrapper .image-section {
        clear: both;
        width: 100%;
        float: none;
        display: table;
        margin-top: 10px; }
        .about-me-container .about-me-content-wrapper .image-section:last-of-type img.sara-img {
          float: none;
          display: block;
          margin: 0 auto; }
        .about-me-container .about-me-content-wrapper .image-section .sara-img {
          width: 49%;
          display: inline-block; }
          .about-me-container .about-me-content-wrapper .image-section .sara-img:first-of-type {
            float: left; }
          .about-me-container .about-me-content-wrapper .image-section .sara-img:last-of-type {
            float: right;
            margin-top: 0; }
        .about-me-container .about-me-content-wrapper .image-section .quote-text .open-quotes, .about-me-container .about-me-content-wrapper .image-section .quote-text .close-quotes {
          line-height: 55px; }
        .about-me-container .about-me-content-wrapper .image-section .quote-text .testimonial-text {
          font-size: 23px; }
      .about-me-container .about-me-content-wrapper .office-img-wrapper {
        margin: 20px 0 10px; }
  .bottom-container {
    padding: 20px 10px; }
    .bottom-container .bottom-wrapper {
      width: auto;
      max-width: 850px; }
      .bottom-container .bottom-wrapper .bottom-text {
        font-size: 25px; }
  .footer {
    padding: 20px 10px; }
    .footer .footer-wrapper {
      width: auto;
      max-width: 850px; }
      .footer .footer-wrapper .footer-option-list {
        clear: both;
        display: table;
        height: auto;
        width: 100%; }
        .footer .footer-wrapper .footer-option-list > li:first-of-type {
          width: 100%;
          display: block; }
        .footer .footer-wrapper .footer-option-list > li:nth-of-type(2), .footer .footer-wrapper .footer-option-list > li:nth-of-type(3), .footer .footer-wrapper .footer-option-list > li:last-of-type {
          width: 33.3333%;
          float: left;
          display: inline;
          margin-top: 20px; }
        .footer .footer-wrapper .footer-option-list > li:not(:first-of-type) .footer-categories li a {
          font-size: 15px; }
  .footer-social-icon-container {
    padding: 20px 10px; }
    .footer-social-icon-container .footer-social-icon-wrapper {
      width: 100%;
      max-width: 850px; }
      .footer-social-icon-container .footer-social-icon-wrapper .copyright-text.hidden-xs {
        margin-top: 8px; } }

@media (min-width: 481px) and (max-width: 767px) {
  .head-container {
    height: 450px; }
    .head-container .banner-content {
      width: 100%;
      padding-left: 40px; }
      .head-container .banner-content .main-head {
        font-size: 40px;
        margin-top: 65px; }
      .head-container .banner-content .sub-head {
        font-size: 20px; }
      .head-container .banner-content .details-wrapper {
        width: 100%; }
        .head-container .banner-content .details-wrapper .row .first-col {
          width: 35%; }
    .head-container .springboard-nav {
      width: auto;
      padding: 0 10px; }
      .head-container .springboard-nav .logo-container {
        display: inline-block;
        margin-top: 0; }
        .head-container .springboard-nav .logo-container .logo-img {
          max-width: 170px;
          margin-top: 5px; }
  .about-me-container .about-me-content-wrapper .image-section {
    width: auto;
    clear: both;
    float: none;
    display: table;
    margin-top: 20px; }
    .about-me-container .about-me-content-wrapper .image-section:last-of-type .sara-img:last-of-type {
      float: none;
      margin: 0 auto;
      display: block; }
    .about-me-container .about-me-content-wrapper .image-section .sara-img {
      width: 49%;
      display: inline;
      max-width: 360px; }
      .about-me-container .about-me-content-wrapper .image-section .sara-img:first-of-type {
        float: left; }
      .about-me-container .about-me-content-wrapper .image-section .sara-img:last-of-type {
        float: right;
        margin-top: 0; }
  .about-me-container .about-me-content-wrapper .office-img-wrapper {
    margin: 20px 0 0; }
  .footer {
    padding: 20px 10px; }
    .footer .footer-wrapper {
      width: auto; }
      .footer .footer-wrapper .footer-option-list {
        clear: both;
        display: table;
        height: auto;
        width: 100%; }
        .footer .footer-wrapper .footer-option-list > li:first-of-type {
          width: 100%;
          display: block; }
        .footer .footer-wrapper .footer-option-list > li:nth-of-type(2), .footer .footer-wrapper .footer-option-list > li:nth-of-type(3), .footer .footer-wrapper .footer-option-list > li:last-of-type {
          width: 33.3333%;
          float: left;
          display: inline; }
        .footer .footer-wrapper .footer-option-list > li:not(:first-of-type) .footer-categories li a {
          font-size: 13px; }
  .footer-social-icon-container {
    padding: 20px 10px; }
    .footer-social-icon-container .footer-social-icon-wrapper {
      width: 100%;
      margin: 0; }
      .footer-social-icon-container .footer-social-icon-wrapper .copyright-text {
        width: 50%; } }

@media (min-width: 320px) and (max-width: 480px) {
  .about-me-container .about-me-content-wrapper .image-section {
    float: none;
    width: auto;
    display: block; }
    .about-me-container .about-me-content-wrapper .image-section .sara-img {
      width: 100%;
      float: none;
      margin-top: 10px; }
      .about-me-container .about-me-content-wrapper .image-section .sara-img:last-of-type {
        margin-top: 10px; }
  .about-me-container .about-me-content-wrapper .office-img-wrapper {
    display: none; }
  .footer .footer-wrapper .footer-option-list > li {
    display: block;
    float: none; }
    .footer .footer-wrapper .footer-option-list > li:first-of-type, .footer .footer-wrapper .footer-option-list > li:not(:first-of-type) {
      width: 100%; }
  .footer-social-icon-container .footer-social-icon-wrapper .social-icon-list {
    width: auto;
    margin-top: 10px; }
  .footer-social-icon-container .footer-social-icon-wrapper .copyright-text {
    width: auto; }
    .footer-social-icon-container .footer-social-icon-wrapper .copyright-text.hidden-xs {
      display: none; }
    .footer-social-icon-container .footer-social-icon-wrapper .copyright-text.visible-xs {
      display: block; } }

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-options-list {
    display: none; }
  body.open-navbar .navbar-options-list {
    left: 0;
    position: absolute;
    width: 100%;
    display: block; }
  body.open-navbar .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list {
    background-color: #3a3a4f;
    display: block;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    z-index: 9; }
    body.open-navbar .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li {
      display: block;
      padding: 0; }
      body.open-navbar .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li .navbar-options {
        display: block; }
  .head-container {
    height: 320px;
    background-position: 80%; }
    .head-container .springboard-nav {
      width: auto;
      padding: 0 10px; }
      .head-container .springboard-nav .logo-container img {
        max-width: 150px; }
      .head-container .springboard-nav .navbar-options-wrapper .navbar-toggle {
        background-color: #3a3a4f;
        display: inline-block;
        height: 40px;
        margin-top: 5px;
        width: 40px;
        border-radius: 5px; }
        .head-container .springboard-nav .navbar-options-wrapper .navbar-toggle .icon-bar {
          background-color: #fff;
          display: block;
          height: 2px;
          margin: 7px auto 0;
          width: 70%; }
          .head-container .springboard-nav .navbar-options-wrapper .navbar-toggle .icon-bar:first-of-type {
            margin-top: 10px; }
    .head-container .banner-content {
      width: auto;
      padding: 0 10px; }
      .head-container .banner-content .main-head {
        font-size: 20px;
        margin-top: 0; }
      .head-container .banner-content .sub-head {
        font-size: 15px;
        margin-top: -20px; }
      .head-container .banner-content .details-wrapper {
        width: auto;
        margin-top: 25px; }
        .head-container .banner-content .details-wrapper:before {
          top: -10px; }
        .head-container .banner-content .details-wrapper .row .first-col {
          width: auto;
          display: block;
          font-size: 13px;
          margin-top: 5px; }
        .head-container .banner-content .details-wrapper .row .second-col {
          font-size: 15px; }
  .testimonial-container {
    padding: 20px 10px; }
    .testimonial-container .testimonial-wrapper {
      width: auto;
      padding: 0 20px; }
      .testimonial-container .testimonial-wrapper .open-quotes, .testimonial-container .testimonial-wrapper .close-quotes {
        font-size: 50px;
        line-height: 50px; }
      .testimonial-container .testimonial-wrapper .testimonial-text {
        font-size: 20px; }
  .about-me-container {
    padding: 20px 10px; }
    .about-me-container .about-me-content-wrapper {
      width: auto; }
      .about-me-container .about-me-content-wrapper .content-section {
        display: block;
        width: auto; }
        .about-me-container .about-me-content-wrapper .content-section:first-of-type p:nth-of-type(3), .about-me-container .about-me-content-wrapper .content-section:first-of-type p:last-of-type {
          margin-top: 10px; }
        .about-me-container .about-me-content-wrapper .content-section p {
          font-size: 14px;
          padding-right: 0; }
        .about-me-container .about-me-content-wrapper .content-section h3 {
          font-size: 20px;
          margin: 10px 0; }
      .about-me-container .about-me-content-wrapper .image-section .quote-text {
        padding: 10px 0 10px 20px; }
        .about-me-container .about-me-content-wrapper .image-section .quote-text .open-quotes {
          top: 0;
          font-size: 45px; }
        .about-me-container .about-me-content-wrapper .image-section .quote-text .testimonial-text {
          font-size: 20px; }
  .bottom-container {
    padding: 15px 0; }
    .bottom-container .bottom-wrapper .bottom-text {
      font-size: 20px; }
  .footer {
    padding: 20px 10px; }
    .footer .footer-wrapper {
      width: auto; }
      .footer .footer-wrapper .footer-option-list {
        height: auto; }
      .footer .footer-wrapper .footer-option-list > li:first-of-type .footer-main-text {
        font-size: 25px; }
      .footer .footer-wrapper .footer-option-list > li:first-of-type .footer-sub-text {
        font-size: 15px; }
      .footer .footer-wrapper .footer-option-list > li:first-of-type .update-form {
        margin-top: 20px; }
        .footer .footer-wrapper .footer-option-list > li:first-of-type .update-form .form-elements {
          clear: both;
          display: table; }
          .footer .footer-wrapper .footer-option-list > li:first-of-type .update-form .form-elements input {
            display: inline;
            float: left;
            width: 60%;
            max-width: 170px;
            border-radius: 6px 0 0 6px;
            -o-border-radius: 6px 0 0 6px;
            -ms-border-radius: 6px 0 0 6px;
            /* IE10 is actually unprefixed */
            -moz-border-radius: 6px 0 0 6px;
            -webkit-border-radius: 6px 0 0 6px; }
          .footer .footer-wrapper .footer-option-list > li:first-of-type .update-form .form-elements .btn-update {
            display: inline;
            float: left;
            font-size: 12px;
            width: 40%;
            max-width: 115px;
            margin-left: 0;
            border-radius: 0 6px 6px 0;
            -o-border-radius: 0 6px 6px 0;
            -ms-border-radius: 0 6px 6px 0;
            /* IE10 is actually unprefixed */
            -moz-border-radius: 0 6px 6px 0;
            -webkit-border-radius: 0 6px 6px 0; }
      .footer .footer-wrapper .footer-option-list > li:not(:first-of-type) {
        margin-top: 20px; }
  .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu {
    background-color: #3a3a4f; }
    .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu .sub-menu {
      background-color: transparent;
      display: block;
      position: relative;
      right: 0;
      width: 100%; }
      .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu .sub-menu li a {
        font-size: 16px; }
      .head-container .springboard-nav .navbar-options-wrapper .navbar-options-list li.open-submenu .sub-menu li .sub-menu-options li a {
        display: block;
        font-size: 14px; } }

/* Media Queries Ends Here */
/* Styles for index page ends here */
