/* 
    Created on : Sep 2, 2016, 3:59:32 PM
    Author     : ahextech
*/
/* Font Families Starts Here */
@font-face {
    font-family: 'opensans-semibold';
    src: url('../fonts/opensans-semibold/opensans-semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/opensans-semibold/opensans-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/opensans-semibold/opensans-semibold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/opensans-semibold/opensans-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/opensans-semibold/opensans-semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/open-sans.eot'); /* IE9 Compat Modes */
    src: url('../fonts/open-sans/open-sans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans/open-sans.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/open-sans/open-sans.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold/roboto-bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-bold/roboto-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-bold/roboto-bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/roboto-bold/roboto-bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-bold/roboto-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'roboto-italic';
    src: url('../fonts/roboto-italic/roboto-italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-italic/roboto-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-italic/roboto-italic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/roboto-italic/roboto-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-italic/roboto-italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular/roboto-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-regular/roboto-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-regular/roboto-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* Font Families Ends Here */

/* Common Styles Starts Here */

*{
    &:focus{
        outline: none !important;
    }
}
body{
    margin: 0;
    padding: 0;
}
a{
    cursor          : pointer;
    text-decoration : none;
    &:focus, &:hover{
        text-decoration: none;
    }
}

/* Common Styles Ends Here */