/* Styles for index page starts here */

*{
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}
.visible-xs{
    display: none;
}
.hidden-xs{
    display: block;
}
/* Common Styles Starts Here */
.testimonial-text{
    margin      : 0;
    font-size   : 30px;
    font-family : $roboto-italic;
}
.open-quotes, .close-quotes{
    color       : $grey-2;
    position    : absolute;
    font-family : $roboto-bold;
}
/* Common Styles Ends Here */
.head-container{
    height             : 620px;
    position           : relative;
    background         : rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll 0 0 / cover ;
    background-position: 80% center;
    .springboard-nav{
        width       : 85%;
        margin      : 0 auto;
        display     : block;
        max-width   : 1920px;
        min-height  : 60px;
        .logo-container{
            display     : inline-block;
            margin-top  : 5px;
        }
        .navbar-options-wrapper{
            float   : right;
            display : inline-block;
            .navbar-toggle{
                display: none;
            }
            .navbar-options-list{
                list-style: none;
                li{
                    display: inline-block;
                    &.open-submenu{
                        position: relative;
                        .sub-menu{
                            display     : block;
                            padding     : 5px 10px;
                            z-index     : 9;
                            margin-right: 0;
                            li {
                                padding: 6px 0 6px 10px;
                                a{
                                    color       : $white;
                                    display     : block;
                                    font-size   : 16px;
                                    font-family : $open-sans;
                                    &:hover{
                                        color: $yellow;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .sub-menu{
                                display: block;
                            }
                        }
                    }
                    &:hover{
                        background-color: $grey-8;
                    }
                    .navbar-options{
                        color       : $white;
                        display     : inline-block;
                        padding     : 15px;
                        font-size   : 16px;
                        font-family : $opensans-semibold;
                        i{
                            margin-left: 5px;
                        }
                    }
                    .sub-menu{
                        left            : 0;
                        width           : 250px;
                        display         : none;
                        position        : absolute;
                        background-color: $grey-8;
                        li {
                            display     : block;
                            margin-right: 0;
                            a{
                                color: $white-1;
                            }
                        }
                    }
                }
            }
        }
    }
    .banner-content{
        width   : 85%;
        margin  : 0 auto;
        display : block;
        .main-head{
            color           : $white;
            font-size       : 62px;
            margin-top      : 150px;
            font-family     : $opensans-semibold;
            margin-bottom   : 20px;
        }
        .sub-head{
            color       : $white;
            font-size   : 28px;
            margin-top  : -10px;
            font-family : $roboto-regular;
        }
        .details-wrapper{
            width     : 50%;
            position  : relative;
            margin-top: 40px;
            &:before{
                top             : -15px;
                left            : 0;
                width           : 50px;
                border          : 1px solid $yellow;
                height          : 0;
                content         : "";
                position        : absolute;
                background-color: $yellow;
            }
            .row{
                &:first-of-type, &:last-of-type{
                    .second-col{
                        color: $white;
                    }
                }
                &:nth-of-type(2){
                    .second-col{
                        color: $yellow;
                    }
                }
                .first-col{
                    color       : $grey-1;
                    width       : 30%;
                    display     : inline-block;
                    font-size   : 18px;
                    font-family : $roboto-italic;
                }
                .second-col{
                    display     : inline-block;
                    font-size   : 18px;
                    font-family : $roboto-regular;
                }
            }
        }
    }
    .chevron-down-icon{
        left        : 50%;
        color       : $white;
        bottom      : 10px;
        position    : absolute;
        font-size   : 25px;
    }
}
.testimonial-container{
    padding-top     : 40px;
    padding-bottom  : 40px;
    background-color: $grey-1;
    .testimonial-wrapper{
        width   : 80%;
        margin  : 0 auto;
        display : block;
        padding : 0 35px;
        position: relative;
        .testimonial-text{
            color       : $black-1;
        }
        .open-quotes, .close-quotes{
            font-size   : 72px;
            line-height : 65px;
        }
        .open-quotes{
            top  : 0;
            left : 0;
        }
    }
}
.about-me-container{
    padding-top     : 50px;
    padding-bottom  : 50px;
    .about-me-content-wrapper{
        width   : 85%;
        margin  : 0 auto;
        display : block;
        .content-section{
            width       : 65%;
            display     : inline-block;
            &:first-of-type{
                p{
                    &:first-of-type{
                        margin: 0;
                    }
                    &:nth-of-type(3), &:last-of-type{
                        margin-top: 40px;
                    }
                }
            }
            p{
                color           : $grey-3;
                font-size       : 16px;
                text-align      : justify;
                font-family     : $open-sans;
                padding-right   : 20px;
            }
            h3{
                color       : $grey-4;
                margin      : 25px auto;
                font-size   : 24px;
                font-family : $roboto-regular;
            }
        }
        .image-section{
            width   : 35%;
            float   : right;
            display : inline-block;
            position: relative;
            .sara-img{
                float       : right;
                &:last-of-type{
                    margin-top: 40px;
                }
            }
            .quote-text{
                padding: 25px 0 25px 25px;
                .testimonial-text{
                    color: $grey-5;
                }
                .open-quotes, .close-quotes{
                    color       : $grey-2;
                    font-size   : 52px
                }
                .open-quotes{
                    top : 15px;
                    left: 0;
                }
            }
        }
        .office-img-wrapper{
            width   : 100%;
            margin  : 40px 0;
            .office-img{
                width: 100%;
            }
        }
        .view-stories{
            color       : $green-1;
            display     : block;
            font-size   : 16px;
            margin-top  : 15px;
            font-family : $roboto-italic;
        }
    }
}
.bottom-container{
    padding         : 35px 0;
    background-color: $green-2;
    .bottom-wrapper{
        width   : 85%;
        margin  : 0 auto;
        display : block;
        .bottom-text{
            color       : $white;
            margin      : 5px 0;
            font-size   : 30px;
            font-family : $roboto-bold;
        }
    }
}
.footer{
    height          : auto;
    padding         : 40px 0;
    background-color: $grey-5;
    .footer-wrapper{
        width   : 90%;
        margin  : 0 auto;
        display : block;
        .footer-option-list{
            height      : 190px;
            margin      : 0;
            padding-left: 0;
        }
        .footer-option-list>li{
            color       : $green-3;
            float       : left;
            display     : inline-block;
            font-size   : 16px;
            font-weight : bold;
            font-family : $open-sans;
            &:first-of-type{
                width: 40%;
                .footer-main-text{
                    color           : $white;
                    font-size       : 35px;
                    margin-top      : 0;
                    font-family     : $roboto-bold;
                    margin-bottom   : 10px
                }
                .footer-sub-text{
                    color       : $white;
                    font-size   : 20px;
                    font-family : $open-sans;
                }
                .update-form{
                    margin-top: 30px;
                    .form-elements{
                        input{
                            color           : $grey-7; 
                            border          : 1px solid $grey-6;
                            padding         : 0 20px;
                            font-size       : 14px;
                            min-height      : 40px;
                            box-sizing      : border-box;
                            background-color: $grey-6;
                            @include border-radius(6px);
                        }
                        .btn-update{
                            color           : $grey-5;
                            border          : 1px solid $yellow;
                            padding         : 7px 12px 6px;
                            font-size       : 15px;
                            box-sizing      : border-box;
                            min-height      : 40px;
                            font-family     : roboto-bold;
                            margin-left     : -10px;
                            background-color: $yellow;
                            @include border-radius(6px);
                        }
                    }
                }
            }
            &:not(:first-of-type){
                width: 20%;
                .footer-categories{
                    margin-top: 20px;
                    li{
                        a{
                            color       : $white;
                            font-size   : 14px;
                            font-family : $open-sans;
                            font-weight : normal;
                        }
                    }
                }
            }
            .footer-categories{
                list-style  : none;
                padding-left: 0;
            }
        }
    }
}
.footer-social-icon-container{
    padding         : 20px 0;
    background-color: $grey-6;
    .footer-social-icon-wrapper{
        clear   : both;
        width   : 90%;
        margin  : 0 auto;
        display : table;
        .copyright-text{
            &.hidden-xs{
                color       : $white;
                float       : left;
                width       : 50%;
                display     : inline-block;
                font-size   : 12px;
                margin-top  : 8px;
                font-family : $open-sans;
                .copyright-link{
                    color: $white;
                    &:hover{
                        color           : $yellow;
                        text-decoration : underline;
                    }
                }
            }
        }
        .social-icon-list{
            width     : 50%;
            float     : left;
            margin    : 0;
            display   : block;
            list-style: outside none none;
            text-align: right;
            li{
                display: inline-block;
                &:not(:last-of-type){
                    margin-right: 5px;
                }
                a{
                    color         : $white;
                    width         : 30px;
                    height        : 30px;
                    display       : table-cell;
                    text-align    : center;
                    vertical-align: middle;
                    @include border-radius(50%);
                    &.fa-facebook{
                        /*padding         : 10px 13px 15px 12px;*/
                        background-color: $facebook;
                    }
                    &.fa-twitter{
                        /*padding         : 10px 13px 15px 11px;*/
                        background-color: $twitter;
                    }
                    &.fa-google-plus{
                        /*padding         : 11px 16px 15px 9px;*/
                        background-color: $google-plus;
                    }
                    &.fa-youtube{
                        /*padding         : 11px 14px 15px 11px;*/
                        background-color: $youtube;
                    }
                    &.fa-linkedin{
                        /*padding         : 10px 15px 16px 10px;*/
                        background-color: $linked-in;
                    }
                }
            }
        }
    }
}
/* Media Queries Starts Here */
@media(min-width: 1200px){
    .about-me-container{
        .about-me-content-wrapper{
            .image-section{
                .sara-img{
                    width     : 100%;
                    max-width : 380px;
                    max-height: 225px;
                }
            }
        }
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    .head-container{
        height: 550px;
        .banner-content{
            .main-head{
                margin-top   : 80px;
                margin-bottom: 0;
            }
        }
    }
    .testimonial-container{
        .testimonial-wrapper{
            .testimonial-text{
                font-size: 27px;
            }
        }
    }
    .about-me-container{
        .about-me-content-wrapper{
            .content-section{
                &:first-of-type{
                    p{
                        &:nth-of-type(3), &:last-of-type{
                            margin-top: 10px;
                        }
                    }
                }
                h3{
                    margin   : 10px auto;
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
            .image-section{
                &:last-of-type{
                    .sara-img{
                        margin-top: 20px;
                    }
                }
                .sara-img{
                    width    : 100%;
                    max-width: 300px;
                    &:last-of-type{
                        margin-top: 20px;
                    }
                }
                .quote-text{
                    padding: 15px 0 25px 25px;
                    .open-quotes, .close-quotes{
                        line-height: 55px;
                    }
                    .open-quotes{
                        top: 10px;
                    }
                    .testimonial-text{
                        font-size: 27px;
                    }
                }
            }
            .office-img-wrapper{
                margin: 20px 0 10px;
            }
        }
    }
    .footer{
        .footer-wrapper{
            .footer-option-list{
                &>li{
                    &:first-of-type{
                        .footer-sub-text{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 768px) and (max-width: 991px){
    /* Common Styles for Container & Wrappers Starts Here */
    .testimonial-container, .about-me-container{
        padding: 40px 10px;
    }
    .bottom-container, .footer, .footer-social-icon-container{
        padding: 20px 10px;
    }
    .springboard-nav, .banner-content, .testimonial-wrapper, 
    .about-me-content-wrapper, .bottom-wrapper, .footer{
        width    : auto;
        max-width: 850px;
    }
    /* Common Styles for Container & Wrappers Ends Here */
    .head-container{
        height : 450px;
        padding: 0 10px;
        .springboard-nav{
            margin : 0 auto;
            display: block;
            .navbar-options-wrapper{
                .navbar-options-list{
                    margin-top: 0;
                    li{
                        &:not(:last-of-type){
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .banner-content{
            .main-head{
                font-size: 40px;
                margin-top: 60px;
                margin-bottom: 10px;
            }
            .sub-head{
                font-size: 22px;
                margin-top: 0;
            }
            .details-wrapper{
                width: auto;
                .row{
                    .first-col{
                        width: 25%;
                    }
                }
            }
        }
    }
    .testimonial-container{
        .testimonial-wrapper{
            padding: 0 20px;
            .open-quotes, .close-quotes{
                font-size: 55px;
                line-height: 45px;
            }
            .testimonial-text{
                font-size: 23px;
            }
        }
    }
    .about-me-container{
        .about-me-content-wrapper{
            .content-section{
                display: block;
                width: 100%;
                &:first-of-type{
                    h3{
                        margin: 10px 0;
                    }
                    p{
                        &:nth-of-type(3), &:last-of-type{
                            margin-top: 10px;
                        }
                    }
                }
                h3{
                    margin: 0 auto 10px;
                }
            }
            .image-section{
                clear: both;
                width: 100%;
                float: none;
                display: table;
                margin-top: 10px;
                &:last-of-type{
                    img{
                        &.sara-img{
                            float: none;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
                .sara-img{
                    width: 49%;
                    display: inline-block;
                    &:first-of-type{
                        float: left;
                    }
                    &:last-of-type{
                        float: right;
                        margin-top: 0;
                    }
                }
                .quote-text{
                    .open-quotes, .close-quotes{
                        line-height: 55px;
                    }
                    .testimonial-text{
                        font-size: 23px;
                    }
                }
            }
            .office-img-wrapper{
                margin: 20px 0 10px;
            }
        }
    }
    .bottom-container{
        .bottom-wrapper{
            .bottom-text{
                font-size: 25px;
            }
        }
    }
    .footer{
        .footer-wrapper{
            .footer-option-list{
                clear: both;
                display: table;
                height: auto;
                width: 100%;
                &>li{
                    &:first-of-type{
                        width: 100%;
                        display: block;
                    }
                    &:nth-of-type(2), &:nth-of-type(3), &:last-of-type{
                        width: 33.3333%;
                        float: left;
                        display: inline;
                        margin-top: 20px;
                    }
                    &:not(:first-of-type){
                        .footer-categories{
                            li{
                                a{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-social-icon-container{
        .footer-social-icon-wrapper{
            width: 100%;
            max-width: 850px;
            .copyright-text{
                &.hidden-xs{
                    margin-top: 8px;
                }
            }
        }
    }
}
@media(min-width: 481px) and (max-width: 767px){
    .head-container {
        height: 450px;
        .banner-content {
            width       : 100%;
            padding-left: 40px;
            .main-head{
                font-size : 40px;
                margin-top: 65px;
            }
            .sub-head{
                font-size: 20px;
            }
            .details-wrapper{
                width: 100%;
                .row {
                    .first-col{
                        width: 35%;
                    }
                }
            }
        }
        .springboard-nav{
            width   : auto;
            padding : 0 10px;
            .logo-container{
                display     : inline-block;
                margin-top  : 0;
                .logo-img{
                    max-width   : 170px;
                    margin-top  : 5px;
                }
            }
        }
    }
    .about-me-container{
        .about-me-content-wrapper{
            .image-section{
                width       : auto;
                clear       : both;
                float       : none;
                display     : table;
                margin-top  : 20px;
                &:last-of-type{
                    .sara-img{
                        &:last-of-type{
                            float   : none;
                            margin  : 0 auto;
                            display : block;
                        }
                    }
                }
                .sara-img{
                    width    : 49%;
                    display  : inline;
                    max-width: 360px;
                    &:first-of-type{
                        float: left;
                    }
                    &:last-of-type{
                        float     : right;
                        margin-top: 0;
                    }
                }
            }
            .office-img-wrapper{
                margin: 20px 0 0;
            }
        }
    }
    .footer{
        padding: 20px 10px;
        .footer-wrapper{
            width: auto;
            .footer-option-list{
                width   : 100%;
                clear   : both;
                height  : auto;
                display : table;
                &>li{
                    &:first-of-type{
                        width   : 100%;
                        display : block;
                    }
                    &:nth-of-type(2), &:nth-of-type(3), &:last-of-type{
                        width   : 33.3333%;
                        float   : left;
                        display : inline;
                    }
                    &:not(:first-of-type){
                        .footer-categories{
                            li{
                                a{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-social-icon-container{
        padding: 20px 10px;
        .footer-social-icon-wrapper{
            width   : 100%;
            margin  : 0;
            .copyright-text{
                width: 50%;
            }
        }
    }
}
@media(min-width: 320px) and (max-width: 480px){
    .about-me-container{
        .about-me-content-wrapper{
            .image-section{
                float   : none;
                width   : auto;
                display : block;
                .sara-img{
                    width       : 100%;
                    float       : none;
                    margin-top  : 10px;
                    &:last-of-type{
                        margin-top: 10px;
                    }
                }
            }
            .office-img-wrapper{
                display: none;
            }
        }
    }
    .footer{
        .footer-wrapper{
            .footer-option-list{
                &>li{
                    float   : none;
                    display : block;
                    &:first-of-type, &:not(:first-of-type){
                        width: 100%;
                    }
                }
            }
        }
    }
    .footer-social-icon-container{
        .footer-social-icon-wrapper{
            .social-icon-list{
                width       : auto;
                margin-top  : 10px;
            }
            .copyright-text{
                width: auto;
                &.hidden-xs{
                    display: none;
                }
                &.visible-xs{
                    display: block
                }
            }
        }
    }
    .footer-social-icon-container{
        .footer-social-icon-wrapper{


        }
    }
}
@media(min-width: 320px) and (max-width: 767px){
    .navbar-options-list{
        display: none;
    }
    body{
        &.open-navbar{
            .navbar-options-list{
                left    : 0;
                width   : 100%;
                display : block;
                position: absolute;
            }


            .head-container {
                .springboard-nav {
                    .navbar-options-wrapper {
                        .navbar-options-list{
                            display         : block;
                            padding         : 0;
                            z-index         : 9;
                            margin-top      : 0;
                            margin-right    : 0;
                            background-color: $grey-8;
                            li{
                                display: block;
                                padding: 0;
                                .navbar-options{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .head-container {
        height: 320px;
        .springboard-nav {
            width   : auto;
            padding : 0 10px;
            .logo-container{
                img{
                    max-width: 150px;
                }
            }
            .navbar-options-wrapper {
                .navbar-toggle{
                    width           : 40px;
                    height          : 40px;
                    display         : inline-block;
                    margin-top      : 5px;
                    background-color: $grey-8;
                    @include border-radius(5px);
                    .icon-bar{
                        width           : 70%;
                        height          : 2px;
                        margin          : 7px auto 0;
                        display         : block;
                        background-color: $white;
                        &:first-of-type{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .banner-content{
            width  : auto;
            padding: 0 10px;
            .main-head{
                font-size : 20px;
                margin-top: 0;
            }
            .sub-head{
                font-size : 15px;
                margin-top: -20px;
            }
            .details-wrapper{
                width     : auto;
                margin-top: 25px;
                &:before{
                    top: -10px;
                }
                .row{
                    .first-col{
                        width     : auto;
                        display   : block;
                        font-size : 13px;
                        margin-top: 5px;
                    }
                    .second-col{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .testimonial-container{
        padding: 20px 10px;
        .testimonial-wrapper{
            width   : auto;
            padding : 0 20px;
            .open-quotes, .close-quotes{
                font-size  : 50px;
                line-height: 50px;
            }
            .testimonial-text{
                font-size: 20px;
            }
        }
    }
    .about-me-container{
        padding: 20px 10px;
        .about-me-content-wrapper{
            width: auto;
            .content-section{
                width   : auto;
                display : block;
                &:first-of-type{
                    p{
                        &:nth-of-type(3), &:last-of-type{
                            margin-top: 10px;
                        }
                    }
                }
                p{
                    font-size    : 14px;
                    padding-right: 0;
                }
                h3{
                    margin   : 10px 0;
                    font-size: 20px;
                }
            }
            .image-section{
                .quote-text{
                    padding: 10px 0 10px 20px;
                    .open-quotes{
                        top      : 0;
                        font-size: 45px;
                    }
                    .testimonial-text{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .bottom-container{
        padding: 15px 0;
        .bottom-wrapper{
            .bottom-text{
                font-size: 20px;
            }
        }
    }
    .footer{
        padding: 20px 10px;
        .footer-wrapper{
            width: auto;
            .footer-option-list{
                height: auto;
            }
            .footer-option-list>li{
                &:first-of-type{
                    .footer-main-text{
                        font-size: 25px;
                    }
                    .footer-sub-text{
                        font-size: 15px;
                    }
                    .update-form{
                        margin-top: 20px;
                        .form-elements{
                            clear   : both;
                            display : table;
                            input{
                                float    : left;
                                width    : 60%;
                                display  : inline;
                                max-width: 170px;
                                @include border-radius(6px 0 0 6px);
                            }
                            .btn-update{
                                float       : left;
                                width       : 40%;
                                display     : inline;
                                font-size   : 12px;
                                max-width   : 115px;
                                margin-left : 0;
                                @include border-radius(0 6px 6px 0);
                            }
                        }
                    }
                }
                &:not(:first-of-type){
                    margin-top: 20px;
                }
            }
        }
    }
    .head-container {
        .springboard-nav{
            .navbar-options-wrapper {
                .navbar-options-list {
                    li {
                        &.open-submenu{
                            background-color: $grey-8;
                            .sub-menu {
                                right           : 0;
                                width           : 100%;
                                display         : block;
                                position        : relative;
                                background-color: transparent;
                                li{
                                    a{
                                        font-size: 16px;
                                    }
                                    .sub-menu-options{
                                        li{
                                            a{
                                                display  : block;
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}
/* Media Queries Ends Here */

/* Styles for index page ends here */