/* Color Variables */
$white          : #fff;
$black          : #000;
$grey-1         : #efeff6;
$grey-2         : #5b5b76;
$grey-3         : #54545a;
$grey-4         : #48484e;
$grey-5         : #48485e;
$grey-6         : #3b3b4e;
$grey-7         : #bbbbd5;
$grey-8         : #3a3a4f;
$yellow         : #efff1d;
$white-1        : #fefefe;
$black-1        : #0b0b09;
$green-1        : #55ccb1;
$green-2        : #2abf9e;
$green-3        : #00c09d;
$twitter        : #598dca;
$youtube        : #cf3427;
$facebook       : #3a589b;
$linked-in      : #007ab9;
$google-plus    : #e3411f;

/* Font Family Variables */
$open-sans          : 'open-sans';
$roboto-bold        : 'roboto-bold';
$roboto-italic      : 'roboto-italic';
$roboto-regular     : 'roboto-regular';
$opensans-semibold  : 'opensans-semibold';